{{extend 'bootup.html'}}

{{=H1(record.project.title)}}
<div class="project_tag">{{=record.project.shortdescription}}</div>

<div class="row project_page">

    <div class="project_column_left col-md-8 col-sm-8 col-lg-8 col-xs-12">


        <div class="frame project_image">
            <img src="{{=URL('img',args=record.project.imageurl)}}" />
        </div>

        <h3>Long Description</h3>
        {{=record.project.longdescription}}

        <h3>Project Story</h3>
        {{=record.project.story}}

        <h3>Project Backers</h3>
            {{for username, expectedrewards in record.project.expectedrewards():}}
                {{rewards = list(expectedrewards)}}

                {{=H5(username  + ' ' + rewards[0].expectedrewards.pledgedescription + ' £'+ str(rewards[0].expectedrewards.value))}}
                    {{for reward in rewards:}}
                        {{=reward.expectedrewards.rewarddescription}}<br />
                    {{pass}}
            {{pass}}

    </div>

    <div class="project_column_right col-md-4 col-sm-4 col-lg-4 col-xs-12">
        <div class="project_box">
            <div class="project_box_bigline">&pound;{{=record.projectstat.totalvalue}} raised</div>
            <div class="project_box_bigline">&pound;{{=record.project.goal}} goal</div>
            <div class="project_box_bigline">{{=record.projectstat.bootings}} bootings</div>
            {{if record.project.hascontributed(): }}
                You have contributed to this project
            {{pass}}
        </div>

        <h3>Rewards</h3>
        <div class="project_box">

            {{for pledge in record.project.pledges():}}
                {{include 'partial/pledge/summary.html'}}
            {{pass}}
        </div>
    </div>
</div>


