<div class="pledge_summary">


{{if not record.project.hascontributed(): }}
    <a href="{{=URL('pledge','make',args=[pledge.pledge.idpledge])}}">
    {{pass}}
        <div class="sidebyside">
            <div class="sidebysideitem pledge_value">&pound;{{=pledge.pledge.value}}</div>
            <div class="sidebysideitem pledge_rewards">
                <h4>{{=pledge.pledge.description}}</h4>
                <ul>
                {{for reward in pledge.pledge.rewards():}}
                    <li>{{=reward.description}}</li>
                {{pass}}
                </ul>
            </div>
            <div class="sidebysideitem">

            </div>
        </div>
    {{if not record.project.hascontributed():}}
    </a>
{{pass}}
</div>