<div class="project_summary">
{{=H3(A(record.project.title, _href=URL('project','view',args=[record.project.idproject])))}}


    <nav>
    {{if record.project.canedit():}}
        {{=A("Edit",_href=URL('project','edit', args=[record.project.idproject])) }}
        {{=A("Manage Rewards",_href=URL('reward','view',args=[record.project.idproject]))}}
        {{=A("Manage Pledge Levels",_href=URL('pledge','view',args=[record.project.idproject]))}}
    {{pass}}

    {{if record.project.candelete():}}
        {{=A("Delete",_href=URL('project','delete', args=[record.project.idproject])) }}

    {{pass}}

    {{if record.project.canopen():}}
        {{=A("Open",_href=URL('project','open', args=[record.project.idproject])) }}
    {{pass}}

    {{if record.project.canclose():}}
        {{=A("Close",_href=URL('project','close', args=[record.project.idproject])) }}
    {{pass}}
    </nav>

    <div class="project_stats">&pound;{{=record.project.goal}} goal. &pound;{{=record.projectstat.remaining}}
        remaining. {{=record.projectstat.progress}}%. {{=record.projectstat.bootings}} bootings.
    </div>
{{=record.project.shortdescription}}
</div>