{{if not 'projectid' in vars():}}
<div><span class="step">1</span>Create Project</div>
<div><span class="step">2</span>Manage Rewards</div>
<div><span class="step">3</span>Manage Pledge Levels</div>
<div><span class="step">4</span>Open Project</div>
{{else:}}
<div><a href="{{=URL('bootup','project','edit',args=[projectid])}}"><span class="step">1</span>Edit Project</a></div>
<div><a href="{{=URL('bootup','reward','view',args=[projectid])}}"><span class="step">2</span>Manage Rewards</a></div>
<div><a href="{{=URL('bootup','pledge','view',args=[projectid])}}"><span class="step">3</span>Manage Pledge Levels</a>
</div>
<div><a href="{{=URL('bootup','project','open',args=[projectid])}}"><span class="step">4</span>Open Project</a></div>
{{pass}}