<div class="project_summary">

{{=H3(A(record.project.title, _href=URL('project','view',args=[record.project.idproject])))}}


    <div class="sidebyside">
        <div class="sidebysideitem project_summary_image">
            <div class="project_image"><a
                    href="{{=URL('project','view',args=[record.project.idproject])}}"><img
                    src="{{=URL('project','img',args=record.project.imageurl)}}"/></a></div>
        </div>

        <div class="sidebysideitem">
            <p>{{=record.project.shortdescription}}</p>

            <div class="project_stats">Goal: &pound;{{=record.projectstat.goal}} -
                Funded: &pound;{{=record.projectstat.totalvalue}} ({{=record.projectstat.progress}}%) -
                Bootings: {{=record.projectstat.bootings}}<br/>Started: {{=record.openproject.opendate}}.
                By {{=record.user.username}}</div>

        </div>
    </div>


</div>