<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{=title}} - Bootups</title>

    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/bootups.css')}}"/>

    <script src="{{=URL('static','js/jquery-1.11.1.min.js')}}"></script>
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
</head>
<body>
<div class="lightbg bootups_nav navbar">
    <div class="container">
        <div class="navbar-left">
            <h1 class="logo">{{=A('BootUps',_href=URL('project','index'))}}</h1>
        </div>

        <div class="navbar-form navbar-right bootups_nav_search">
        {{include 'partial/search/form.html'}}
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">


        {{=LOAD('category','menu')}}


        <ul class="nav navbar-nav navbar-right">


        {{if auth.is_logged_in():}}
            <li>{{=A('My Account',_href=URL('user','index'))}}</li>
            <li>{{=A('Log Out',_href=URL('user','logout'))}}</li>
        {{else:}}
            <li>{{=A('Login',_href=URL('user','login'))}}</li>
            <li>{{=A('Register',_href=URL('user','register'))}}</li>
        {{pass}}
        </ul>
    </div>

</nav>

<div class="{{if not 'nobg' in vars():}}container whitebg{{pass}}" role="main">
{{include}}
</div>

{{pass}}


</body>
</html>