{{title="My Account"}}

{{extend 'bootup.html'}}
<h2>My Account</h2>
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">


        <h3>My Pledges</h3>
    {{done=0}}
    {{for project, expectedrewards in projects:}}
    {{rewards = list(expectedrewards)}}

        <div class="pledge_summary">

            <div class="sidebyside">
                <div class="sidebysideitem pledge_value">&pound;{{=rewards[0].expectedrewards.value}}</div>
                <div class="sidebysideitem pledge_rewards">
                    <h4>{{=rewards[0].project.title}}</h4>
                    {{=rewards[0].expectedrewards.pledgedescription}}<br/><br/>
                    Expected rewards
                    <ul>
                    {{for reward in rewards:}}
                        <li>{{=reward.expectedrewards.rewarddescription}}</li>
                    {{pass}}
                    </ul>
                </div>

            </div>

        </div>

    {{done=1}}

    {{pass}}
    {{if done==0:}}
        <p>You have not pledged to any projects... yet</p>
    {{pass}}
    </div>


    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    {{include 'partial/user/sidebar.html'}}
    </div>
</div>