{{title = "Pledge levels for {0}".format(project.title)}}

{{extend 'bootup.html'}}

<h2>Pledge Levels for {{=project.title}}</h2>
<div>{{=A('Add Pledge Level',_href=URL('bootup','pledge','create',args=[project.idproject]))}}</div>
<div class="row">
    <div class="col-xs-12 col-xs-8 col-md-8 col-lg-8">
    {{pledges = project.pledges()

    if len(pledges) is 0:
    }}
        This project currently has no pledge levels

    {{
    else:

    for pledge in pledges:}}
        <h4>&pound;{{=pledge.pledge.value}} {{=pledge.pledge.description}}</h4>
    {{=A('Edit',_href=URL('bootup','pledge','edit',args=[pledge.pledge.idpledge]))}} {{=A('Delete',_href=URL('bootup','pledge','delete',args=[pledge.pledge.idpledge]))}}
    {{pass}}
    {{pass}}


    </div>

    <div class="col-xs-12 col-xs-4 col-md-4 col-lg-4">
    {{include='partial/project/stepbystep.html'}}
    </div>
</div>