{{extend 'bootup.html'}}
        <h2>My Addresses</h2>
        {{=A('Add address to account',_href=URL('bootup','address','create'))}}
        <div class="address_list">
            {{for record in addresses:}}
            <div class="address_item">
                {{=DIV(record.address.street)}}
                {{=DIV(record.address.city)}}
                {{=DIV(record.address.postcode)}}
                {{=DIV(record.country.name)}}
                {{=A('Edit',_href=URL('bootup','address','edit',args=[record.address.idaddress]))}}
                {{=A('Delete',_href=URL('bootup','address','delete',args=[record.address.idaddress]))}}
            </div>
            {{pass}}

        </div>
